footer {
  height: 600px;
  width: 100%;
  img {
    height: 50px;
    width: 50px;
  }
  hr {
    width: 100%;
  }
}

.footer__top {
  width: 60%;
  &--card {
    height: 350px;
    text-align: center;
    width: 220px;
  }
  h5 {
    color: $transparent-black;
  }
  a {
    color: $orange-color;
  }
}

.footer__bottom {
  width: 60%;
  &--card {
    height: 200px;
    width: 220px;
    a, p {
      color: $transparent-black;
      text-decoration: none;
    }
    i {
      color: $orange-color;
    }
  }
}

@media screen and (min-width: 1251px) and (max-width: 1363px) {
  footer {
    margin-top: -200px !important;
    height: 1200px;
    hr {
      margin-top: 80px;
    }
  }

  .footer__bottom {
    width: 100%;
    justify-content: center;
  }

  .footer__top {
    height: 500px;
  }
}

@media screen and (min-width: 651px) and (max-width: 1250px) {
  footer {
    margin-top: 100px !important;
    height: 1200px;
    hr {
      margin-top: 140px;
    }
  }

  .footer__bottom {
    height: 500px;
    width: 100%;
    justify-content: center;
    flex-flow: column;
  }

  .footer__top {
    height: 500px;
    flex-flow: column !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 650px) {
  footer {
    margin-top: 500px !important;
    height: 1200px;
    hr {
      margin-top: 140px;
    }
  }

  .footer__bottom {
    height: 500px;
    width: 100%;
    justify-content: center;
    flex-flow: column;
  }

  .footer__top {
    height: 500px;
    flex-flow: column !important;
  }
}

@media screen and (min-width: 511px) and (max-width: 599px) {
  footer {
    margin-top: 920px !important;
    height: 1200px;
    hr {
      margin-top: 140px;
    }
  }

  .footer__bottom {
    height: 500px;
    width: 100%;
    justify-content: center;
    flex-flow: column;
  }

  .footer__top {
    height: 500px;
    flex-flow: column !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 510px) {
  footer {
    margin-top: 1060px !important;
    hr {
      margin-top: 650px;
    }
  }

  .footer__top {
    height: 500px;
    flex-flow: column !important;
  }
}
