.popular {
  height: 600px;
  width: 100%;
  z-index: 1;
  &__heading {
    height: 120px;
    margin-top: 60px;
    h5 {
      color: $orange-color;
      letter-spacing: 1px;
      margin-bottom: -5px;
    }
  }
  &__images {
    height: 400px;
    width: 85%;
    &__card {
      background-repeat: no-repeat;
      color: $pure-white-color;
      font-weight: 100;
      height: 400px;
      letter-spacing: 1px;
      margin: 10px;
      padding: 0 10px;
      width: 260px;
      &--first {
        background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/amsterdam_houses.jpg');
        background-position: center;
        background-size: auto 400px;
      }
      &--second {
        background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/the_rotterdam_building.jpg');
        background-position: center;
        background-size: auto 400px;
        display: flex;
      }
      &--third {
        background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/utrecht.jpg');
        background-position: center left;
        background-size: auto 400px;
        display: flex;
      }
      &--fourth {
        background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/eindhoven.jpg');
        background-position: center left;
        background-size: auto 400px;
        display: flex;
      }
      h4, h6 {
        font-weight: 100;
      }
    }
    &__left, &__right {
      font-size: 40px;
      height: 100px;
      width: 20px;
    }
    &__right {
      color: $orange-color;
    }
  }
}

@media screen and (max-width: 1349px) {
  .popular__images__card--fourth {
    display: none !important;
  }
}

@media screen and (max-width: 1035px) {
  .popular__images__card--third {
    display: none !important;
  }
}

@media screen and (max-width: 705px) {
  .popular__images__card--second {
    display: none !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .popular__images__card {
    height: 370px;
    width: 212px;
  }
}
